{% extends 'layout.jinja2' %}

{% block subtitle %}{{page}} - {% endblock subtitle %}

{% block content %}

<div class="container">
    <h1 class="display-4">Bienvenido al API de Pasajes!</h1>
    <p class="lead">
        BackEnd del proyecto <strong>Pasajes!</strong> desarrollado con <strong>Pyramid.</strong>
    </p>
    <a href="https://github.com/mricharleon/pasajesBackEnd" target="blank" class="badge badge-secondary">Proyecto en GitHub</a>
    <hr class="my-4">
    <div>
        <strong class="endpoints">Recursos (EndPoints) | Pendientes (*)</strong>
        <table class="table">
            <caption>[1] Autenticación</caption>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">POST /api/login *</a></td>
                    <td>Crea una sesion en el proyecto </td>
                </tr>
                <tr>
                    <td><a href="#">GET /api/logout *</a></td>
                    <td>Cierra una sesion en el proyecto </td>
                </tr>
            </tbody>
        </table>
        
        <table class="table">
            <caption>[2] Rol</caption>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="api/roles">GET /api/roles</a></td>
                    <td>Obtiene todos los objetos roles</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <caption>[3] Usuario</caption>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">GET /api/usuario/{id} *</a></td>
                    <td>Obtiene un solo objeto usuario</td>
                </tr>
            </tbody>
        </table>
        
        <table class="table">
            <caption>[4] Sitio</caption>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="api/sitios">GET /api/sitios</a></td>
                    <td>Obtiene todos los objetos de sitios</td>
                </tr>
                <tr>
                    <td><a href="/api/sitio/1">GET /api/sitio/{id_sitio}</a></td>
                    <td>Obtiene un solo objeto sitio</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <caption>[5] Cooperativa</caption>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="api/cooperativas">GET /api/cooperativas</a></td>
                    <td>Obtiene todos los objetos cooperativas</td>
                </tr>
                <tr>
                    <td><a href="api/cooperativa/1">GET /api/cooperativa/{id}</a></td>
                    <td>Obtiene un solo objeto cooperativa</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <caption>[6] Clase</caption>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="api/clases">GET /api/clases</a></td>
                    <td>Obtiene todos los objetos clases</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <caption>[7] Unidad</caption>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="api/unidades">GET /api/unidades</a></td>
                    <td>Obtiene todos los objetos unidades</td>
                </tr>
                <tr>
                    <td><a href="api/unidad/1">GET /api/unidad/{id}</a></td>
                    <td>Obtiene un solo objeto unidad</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <caption>[8] Pasajes</caption>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">POST /api/pasaje *</a></td>
                    <td>Crea un objeto pasajes</td>
                </tr>
                <tr>
                    <td><a href="api/pasajes">GET /api/pasajes</a></td>
                    <td>Obtiene todos los objetos pasajes</td>
                </tr>
                <tr>
                    <td><a href="api/pasajes/2020-03-22/1/2">GET /api/pasajes/:fecha/:origen/:destino</a></td>
                    <td>Obtiene todos los objetos pasajes (fecha, origen y destino)</td>
                </tr>
                <tr>
                    <td><a href="api/pasaje/1">GET /api/pasaje/{id}</a></td>
                    <td>Obtiene un solo objeto pasaje</td>
                </tr>
                <tr>
                    <td><a href="#">PUT /api/pasaje/{id} *</a></td>
                    <td>Actualiza un objeto pasaje</td>
                </tr>
                <tr>
                    <td><a href="#">DELETE /api/pasaje/{id} *</a></td>
                    <td>Elimina un objeto pasaje</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <caption>[9] Boleto</caption>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">POST /api/boleto</a></td>
                    <td>Crea un objeto boleto</td>
                </tr>
                <tr>
                    <td><a href="api/boletos/2">GET /api/boletos/:id_usuario</a></td>
                    <td>Obtiene todos los objetos boletos que registre el usuario</td>
                </tr>
                <tr>
                    <td><a href="#">GET /api/boleto/{id}/{id_uuario} *</a></td>
                    <td>Obtiene un solo objeto boleto que registre el usuario</td>
                </tr>
                <tr>
                    <td><a href="#">DELETE /api/boleto/{id} *</a></td>
                    <td>Elimina un objeto boleto</td>
                </tr>
            </tbody>
        </table>
</div>

{% endblock content %}